<input type="text" value="{{formId}}" id="form-data"
 style="display: none">

<div class="alert alert-warning" style="display: none" id="nothing-to-display">
    <strong>Warning!</strong>  Nothing to display for this form
</div>
<div id="form-data">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Statistics
            </div>
            <p class="alert alert-info">Answers Count: <span id="answers-qtd"></span></p>
            <div class="form-group">
                <label for="">Questions</label>
                <select name="" id="fields-select" class="form-control">
                    <option value="" selected disabled>Select a Question in the list</option>
                </select>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body"></div>
        <div class="card-footer">
            <button class="btn btn-primary">Download as CSV file</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="/javascripts/charts/pie.chart.js"></script>
<script src="/javascripts/formData.js"></script>
