<input type="text" value="{{formId}}" id="form-data"
 style="display: none">

 <div class="card">
     <div class="card-body">
        <div class="card-title">
            Statistics
        </div>

     </div>
 </div>
 <div class="card">
     <div class="card-body"></div>
     <div class="card-footer">
         <button class="btn btn-primary">Download as CSV file</button>
     </div>
 </div>

<script src="/javascripts/formData.js"></script>
